<div class="container">
  <form action="/add/addStudent" method="POST">
    <div class="mb-3">
      <label for="FirstName" class="form-label">FirstName</label>
      <input
        type="text"
        class="form-control"
        id="FirstName"
        aria-describedby="emailHelp"
        placeholder="FirstName"
        name="FirstName"
      />
    </div>
    <div class="mb-3">
      <label for="LastName" class="form-label">LastName</label>
      <input
        type="text"
        class="form-control"
        id="LastName"
        aria-describedby="emailHelp"
        placeholder="LastName"
        name="LastName"
      />
    </div>
    <div class="mb-3">
      <label for="Group" class="form-label">Group</label>
      <input
        type="text"
        class="form-control"
        id="Group"
        aria-describedby="emailHelp"
        placeholder="Group"
        name="Group"
      />
    </div>
    <div class="mb-3">
      <label for="Number" class="form-label">Number</label>
      <input
        type="number"
        class="form-control"
        id="Number"
        aria-describedby="emailHelp"
        placeholder="Number"
        name="Number"
      />
    </div>
    <div class="mb-3">
      <label for="Month" class="form-label">Month</label>
      <input
        type="number"
        class="form-control"
        id="Month"
        aria-describedby="emailHelp"
        placeholder="Month"
        name="Month"
      />
    </div>
    <div class="mb-3">
      <label for="Score" class="form-label">Score</label>
      <input
        type="text"
        class="form-control"
        id="Score"
        aria-describedby="emailHelp"
        placeholder="Score"
        name="Score"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>